<div id="items">
  <form hx-post="/addfeed" hx-target="#items">
    <div>
      <label for="formUrl">Feed URL</label>
      <input type="text" class="form-control" id="formUrl" name="url">
    </div>
    <div>
      <label for="formName">Nickname</label>
      <input type="text" class="form-control" id="formName" name="name">
    </div>
    <div>
      <label for="formName">Category</label>
      <input type="text" class="form-control" id="formName" name="category">
    </div>
    <div>
      <button
        type="submit"
        class="btn btn-primary mb-3">Add</button>
    </div>
  </form>
</div>
