<!doctype html>
<html lang="en">
<head>
  <title>RiSSOLE</title>
  <script src="/libs/htmx.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/libs/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/libs/bootstrap-icons.css">
  <link rel="icon" href="/libs/favicon.svg" type="image/svg+xml">
  <style>
.accordion-body {
  background-color: #eeeeee;
}

#feeds .badge {
  width: 3.5em;
}
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row align-items-start">
    <div class="col col-12 col-sm-3 m-0 p-1">
      <div hx-get="/feeds" hx-trigger="load" hx-swap="outerHTML" id="feeds">
        {{template "components/spinner" .}}
      </div>
    </div>
    <div class="col col-12 col-sm-9 m-0 p-1">
      <div id="items"></div>
    </div>
  </div>
</div>

<script src="/libs/bootstrap.bundle.min.js"></script>
<script>
  htmx.on("htmx:afterSwap", function(evt) {
    if(evt.target.id == "items") {
      evt.detail.elt.scrollIntoView();
    }
  });
</script>
</body>
</html>
