<div id="items">
  <form hx-post="/crudfeed" hx-target="#items">
    <div>
      <label for="formUrl" class="text-primary"><b>Feed URL</b></label>
      <input type="text" class="form-control" id="formUrl" name="url" value="{{if .}}{{.URL}}{{end}}">
    </div>
    <div>
      <label for="formName" class="text-primary"><b>Nickname</b></label>
      <input type="text" class="form-control" id="formName" name="name" value="{{if .}}{{.Name}}{{end}}">
    </div>
    <div>
      <label for="formName" class="text-primary"><b>Category</b></label>
      <input type="text" class="form-control" id="formName" name="category" value="{{if .}}{{.Category}}{{end}}">
    </div>
    <div class="mt-3">
      <button
        type="submit"
        class="btn btn-primary">{{if .}}Update{{else}}Add{{end}}</button>
      {{if .}}
      <button
        type="submit"
        name="delete"
        value="delete"
        onClick="return confirm('Are you sure you want to delete this feed?');"
        class="btn btn-danger float-end">Delete</button>
      {{end}}
    </div>
    {{if .}}
    <input type="hidden" name="id" value="{{.ID}}">
    {{end}}
  </form>
</div>
