<div>
  <div class="w-100">
    <a href="{{.Link}}" target="_new">link</a>
    <small>{{.PublishedParsed}}</small>
  </div>
  <hr class="w-100" />
  {{if .Image}}
    <img src="{{.Image.URL}}" />
  {{end}}
  <iframe onload="resizeIframe(this);" scrolling="auto" style="height: 10px;" class="w-100" sandbox="allow-same-origin" srcdoc="{{.DescriptionAsAttr}}"></iframe>
</div>
<div id="content{{.ID}}" hx-swap-oob="innerHTML">
  {{template "components/itemline" .}}
</div>
<div id="feed{{.Feed.ID}}" hx-swap-oob="innerHTML">
  {{template "components/feedline" .Feed}}
</div>
