<div id="items">
  <div class="container m-0 p-0">
    <div class="row">
      <div class="col">
        <form hx-post="/items?url={{.URL | urlquery}}" hx-target="#items">
        {{range $idx, $item := .Items}}
          {{if $item.IsUnread}}
          <input type="hidden" name="read" value="{{$item.Link}}">
          {{end}}
        {{end}}
          <button
            type="submit"
            hx-target="#items"
            hx-swap="outerHTML"
            class="btn btn-primary p-1"><small>
              <i class="bi-check2-square"></i>
              Mark All As Read</small></button>
        </form>
      </div>
      <div class="col text-end">
        <a class="lead link-primary link-underline-opacity-0" href="{{.Link}}">{{.Title}}</a>
      </div>
    </div>
  </div>

  <div class="accordion accordion-flush border" id="itemsAccordion">
  {{range $idx, $item := .Items}}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <div class="p-2 accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{$idx}}" aria-expanded="true" aria-controls="collapse{{$idx}}">
          <div id="content{{.ID}}" class="w-100">
            {{template "components/itemline" $item}}
          </div>
        </div>
      </h2>

      <div id="collapse{{$idx}}" class="accordion-collapse collapse" data-bs-parent="#itemsAccordion">
        <div class="accordion-body m-0 p-2">
          <div hx-get="/item?id={{$item.Link | urlquery}}&url={{$.URL | urlquery}}"
               hx-swap="outerHTML"
               hx-trigger="intersect once"
               class="summary">
            {{template "components/spinner" .}}
          </div>
        </div>
      </div>
    </div>
  {{end}}
  </div>
</div>
